/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* SECCIÓN PRINCIPAL */
#home {
  background-color: #0c0c10;
  width: 430px;
  height: 932px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

/* CONTENEDOR DE IMÁGENES */
.imagenes {
  position: absolute;
  top: 79px;
  width: 100%;
}

.imagenes img {
  width: 100%;
  display: block;
  transform-origin: center;
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp1 {
  from {
    opacity: 0;
    transform: translateY(calc(-10px + 80px));
    /* parte de más abajo */
  }

  to {
    opacity: 1;
    transform: translateY(-10px);
    /* vuelve a su posición original */
  }
}

@keyframes slideUp2 {
  from {
    opacity: 0;
    transform: translateY(calc(-120px + 80px));
  }

  to {
    opacity: 1;
    transform: translateY(-120px);
  }
}

@keyframes slideUp3 {
  from {
    opacity: 0;
    transform: translateY(calc(-225px + 80px));
  }

  to {
    opacity: 1;
    transform: translateY(-225px);
  }
}

/* Aplicas cada una a su imagen */
.imagenes img:nth-child(1) {
  animation: slideUp1 1s ease forwards;
}

.imagenes img:nth-child(2) {
  animation: slideUp2 1s ease 0.1s forwards;
}

.imagenes img:nth-child(3) {
  animation: slideUp3 1s ease 0.2s forwards;
}


/* MENSAJE Y LOGO */
.mensaje {
  bottom: 44px;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(80px);
    /* empieza más abajo */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* vuelve a su lugar */
  }
}

.mensaje img {
  width: 160px;
  margin-bottom: 15px;
}

.mensaje p {
  font-size: 15px;
  line-height: 1.4;
  opacity: 0.8;
}

/* BOTÓN */
a {
  text-decoration: none;
  bottom: 73px;
  background: linear-gradient(90deg, #00aaff, #9b5bff);
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 40px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 60px;
  transition: 0.3s ease;
  position: relative;
  z-index: 2;
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(80px);
    /* empieza más abajo */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* vuelve a su lugar */
  }
}

a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(155, 91, 255, 0.6);
}